<div
  class="results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <app-character-item
    [appCheckGender]="character.gender"
    [character]="character"
    *ngFor="let character of arrCharacters"
  >
  </app-character-item>
  <div *ngIf="!blFinished; else: isFinished">Cargando más personajes</div>
</div>
<!--
  <ng-template #isFinished> No hay más personajes para mostar </ng-template>
-->

<div *ngIf="error != null">
  Ups, parece que hubo un error cargando los personajes {{ error | json }}
</div>
